{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <nav>
        <li><a href="{% url "home" %}">Receipts</a></li>
        <li><a href="{% url "create_receipt" %}"></a>Create Receipt</li>
        <li><a href="{% url "bank_accounts" %}"></a>Accounts</li>
        <li><a href="{% url "create_account" %}"></a>Create Account</li>
        <li><a href="{% url "list_categories" %}"></a>Categories</li>
        <li><a href="{% url "create_category" %}"></a>Create Category</li>
    {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
    {% else %}
        <li><a href=" {% url 'login' %}">Login</a></li>
        <li><a href="{% url "signup" %}">Sign Up</a></li>
    {% endif %}

    </nav>
    <header>
        {% block header %}
        {% endblock header %}
    </header>
    <main>
        {% block main %}
        {% endblock main %}
    </main>
    <footer>
        {% block footer %}
        {% endblock footer %}
    </footer>
</body>
</html>