{% extends 'base.html' %}
{% block title %}Create Bank Account{% endblock title %}
{% block main %}
<div>
    <h1>Create Account</h1>
    <form method='post'>
        {%csrf_token%}
        {{form.as_p}}
        <button type="submit">Create</button>
    </form>
</div>
{% endblock main %}