{% extends 'base.html' %}
{% block title %}Expense Categories{% endblock title %}
{% block main %}
<h1>Expense Categories</h1>
<li><a href="{% url 'create_category' %}">Create New</a></li>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Number of receipts</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <th>{{ category.name }}</th>
            <th>{{ category.receipts.all|length }}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock main %}