{% extends 'base.html' %}
{% load formatdate %}
{% block title %}Receipts{% endblock title %}
{% block main %}
<h1>My Receipts</h1>
<li><a href="{% url 'create_category' %}">Create New Category</a></li>
<table>
    <thead>
        <tr>
            <th>Vendor</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Due Date</th>
            <th>Category</th>
            <th>Account</th>
        </tr>
    </thead>
    <tbody>
        {% for receipt in receipts.all %}
        <tr>
            <th>{{receipt.vendor}}</th>
            <th>{{receipt.total}}</th>
            <th>{{receipt.tax}}</th>
            <th>{{receipt.date|formatdate}}</th>
            <th>{{receipt.category}}</th>
            <th>{{receipt.account}}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock main %}
